<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<link rel="shortcut icon" href="../toyota-icon.png">
	<style>
		form {
			width: 200px;
			margin: auto;
			line-height: 30px;
			border: 1px solid rgba(0,0,0,0.2);
	    padding: 10px;
	    border-radius: 8px;
	    margin-top: 50px;
		}

		h3 {
			text-align: center;
    	margin: 0;
    	color: red;
		}

		.submitbtn {
			background-color: rgba(0,39,80,0.2);
	    border-radius: 2px;
	    display: block;
	    margin: 10px auto 0;
		}

		.fonttitle {

    font-size: 18px;
    text-align: center;
		}

		.logo {
			display: block;
			margin: 0 auto;
		}
	</style>
	<title>广州国际车展订单统计</title>
</head>
<body>
		<div class="title">
		<img src="toyota.jpeg" alt="" class="logo">
		<h2 class="fonttitle">广州国际车展订单统计(11.19-11.27)</h2>
	</div>
		<form class="login" method="post" action="">
			<h3>用户名或密码错误</h3>
			用户名：<input type="text" name="username" id="username">
			<br>
			密码：<input type="password" name="password" id="password">
			<br>
			<input class="submitbtn" type="submit" value="登录">
		</form>
</body>
</html>
